body {
  background-image: url('https://images.hdqwalls.com/download/all-i-need-4k-gw-3440x1440.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* Make cards slightly transparent to show background */
.card {
  background-color: rgba(255, 255, 255, 0.9);
}
.task {
  font-weight: 500;
  padding: 1rem;
  font-size: 20px;
}
.col-1{
  font-size: 20px;
}
.variant {
  padding: 0.5rem;
  font-size: 20px;
}

.form-control {
  font-size: 20px;
  height: auto;
  padding: 10px;
}

.col-md-3 {
  font-size: 20px;
}